.header {
    display: flex;
    flex-flow: row;
    padding: 1rem 0;
    gap: 3rem;
}

.navlink {
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-size: var(--title-3)
}

.navlink:visited {
    color: black;
}

.logo {
    height: var(--title-3);
    width: auto;
}