.main {
  margin: 32px;
  display: flex;
  flex-flow: column;
}

.content ul {
  list-style-type: none;
  padding-left: 0;
}

.content {
  margin-left: 3rem;
}

.examples {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.example {
  grid-column: span 3;
}